ul.sticky_notes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 10% auto;
  width: 90vw;
}

ul.sticky_notes li {
  list-style: none;
  margin-bottom: 25px;
}

.sticky_note {
  background-color: rgb(255, 234, 0);
  width: 20vw;
  height: 30vh;
  min-width: 140px;

  box-shadow: 5px 5px 7px rgba(51, 44, 44, 0.7);
  text-align: center;
}

ul.sticky_notes li:nth-child(2n + 1) {
  transform: rotate(-2deg);
}

ul.sticky_notes li:nth-child(2n) {
  transform: rotate(6deg);
}

ul.sticky_note li:nth-child(3n + 1) {
  transform: rotate(3deg);
}

.sticky_notes li:hover {
  transform: scale(1.2);
}

.sticky_note .bottom {
  position: absolute;
  bottom: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.sticky_note a {
  cursor: pointer;
  text-decoration: none;
}
