body {
  margin: 0;
  font-family: "Indie Flower", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./wood.jpg");
  background-repeat: repeat;
  background-size: contain;
  overflow-x: hidden;
}

@media only screen and (min-width: 414px) {
  body {
    background-size: cover;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
